In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Gold.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.fillna(method="ffill", inplace=True)
df.fillna(method="bfill", inplace=True)

In [7]:
df

           Date    Open    High     Low   Close  Adj Close  Volume
0    2000-08-29   273.9   273.9   273.9   273.9      273.9     2.0
1    2000-08-30   274.8   278.3   274.8   278.3      278.3     2.0
2    2000-08-31   277.0   277.0   277.0   277.0      277.0     2.0
3    2000-09-01   277.0   277.0   277.0   277.0      277.0     2.0
4    2000-09-02   277.0   277.0   277.0   277.0      277.0     2.0
...         ...     ...     ...     ...     ...        ...     ...
7846 2022-02-21  1899.4  1899.4  1890.7  1898.6     1898.6    51.0
7847 2022-02-22  1908.1  1912.0  1890.8  1906.1     1906.1   173.0
7848 2022-02-23  1896.6  1910.6  1895.7  1909.2     1909.2    73.0
7849 2022-02-24  1911.9  1972.5  1911.7  1925.1     1925.1  2706.0
7850 2022-02-25  1906.9  1920.0  1883.6  1886.5     1886.5   586.0

[7851 rows x 7 columns]